# Backend env variables

PORT=8000
NEONDB_URI=sample_neondb_uri
CORS_ORIGIN=project_origin
NODE_ENV=local
ACCESS_TOKEN_SECRET_KEY=sample_access_token
ACCESS_TOKEN_SECRET_KEY_EXPIRY=12h
REFRESH_TOKEN_SECRET_KEY=sample_refresh_token
REFRESH_TOKEN_SECRET_KEY_EXPIRY=10d
RAZORPAY_KEY_ID=examplekeyid
RAZORPAY_KEY_SECRET=examplekeysecret
RAZORPAY_WEBHOOK_SECRET=examplerazorpaywebhooksecretstring
FIREBASE_SERVICE_ACCOUNT_JSON="jsonstringofyourfirebaseserviceaccountkey"
GEMINI_API_KEY=yourgeminiapikeyfromgoogleaistudio
ADZUNA_APP_ID=xxxxxxxx
ADZUNA_APP_KEY=xxxxxxxx
NPM_CONFIG_PRODUCTION=false




# Frontend env variables (Vite build time)
# Important: CORS_ORIGIN=http://localhost:3000, because frontend will now run on port 3000 using Docker

VITE_FIREBASE_API_KEY="examplefirebaseapikey"
VITE_FIREBASE_AUTH_DOMAIN="examplefirebaseauthdomain"
VITE_FIREBASE_PROJECT_ID="examplefirebaseprojectid"
VITE_FIREBASE_STORAGE_BUCKET="examplefirebasestoragebucket"
VITE_FIREBASE_MESSAGING_SENDER_ID="examplefirebasemessagingsenderid"
VITE_FIREBASE_APP_ID="examplefirebaseappid"
VITE_API_BASE_URL="yournodebackendurl"
VITE_RAZORPAY_KEY_ID=examplerazorpayapikeyid
