PORT=8000
NEONDB_URI=sample_neondb_uri
CORS_ORIGIN=project_origin
NODE_ENV=local

CLOUDINARY_CLOUD_NAME=examplecloudname
CLOUDINARY_API_KEY=exampleapikey
CLOUDINARY_API_SECRET=exampleapisecret

RAZORPAY_KEY_ID=examplekeyid
RAZORPAY_KEY_SECRET=examplekeysecret