PORT=8000
NEONDB_URI=sample_neondb_uri
CORS_ORIGIN=project_origin
NODE_ENV=local

ACCESS_TOKEN_SECRET_KEY=sample_access_token
ACCESS_TOKEN_SECRET_KEY_EXPIRY=12h
REFRESH_TOKEN_SECRET_KEY=sample_refresh_token
REFRESH_TOKEN_SECRET_KEY_EXPIRY=10d

RAZORPAY_KEY_ID=examplekeyid
RAZORPAY_KEY_SECRET=examplekeysecret
RAZORPAY_WEBHOOK_SECRET=examplerazorpaywebhooksecretstring

FIREBASE_SERVICE_ACCOUNT_JSON="jsonstringofyourfirebaseserviceaccountkey"

GEMINI_API_KEY=yourgeminiapikeyfromgoogleaistudio

ADZUNA_APP_ID=xxxxxxxx
ADZUNA_APP_KEY=xxxxxxxx
